<!DOCTYPE html>
 <html>
 <head>
 	<title>
 		Orders Currently Processing.
 	</title>
 	<link rel="stylesheet" href="css/bootstrap.min.css">
 	<style type="text/css">
 		
    #inputGroupSelect04{
      margin: 0 auto;
      width: 500px;
    }

    #search{
      width: 50%;
      margin:0 auto;
    }

 	  table{
        width: 80%;
        margin: 10px auto;
      }
      #table h3{
      	text-align: center;
      }

      tr{
        text-align: center;
      }
      tr th{
        background-color: #E9ECEF;
        height: 50px;
      }

 	</style>
 </head>
 <body>
	<div class="jumbotron" id="jumbotron-div" style="text-align: center;">
		  <h1 class="display-4" style="color: black; font-size: 57px; font-color:black">Orders Currently Processing.</h1>
		  <hr class="my-4" style="width: 60%;font-color: black;">
	</div>
 </body>
<script>
	var xhr = new XMLHttpRequest();
	var cab_det;
	var order_det;
	xhr.open('GET', "http://localhost:8000/v1/cab/details", true);
	xhr.send();

	var xhr1 = new XMLHttpRequest();
	xhr1.open('GET',"http://localhost:8000/v1/order/details", true)
	xhr1.send();
	xhr1.onreadystatechange = processRequest1;


	xhr.onreadystatechange = processRequest;
	function processRequest(e) {
	    if (xhr.readyState == 4 && xhr.status == 200) {
	        cab_det = JSON.parse(xhr.responseText);
	        console.log(cab_det);
	    
	    var t = document.createElement("div");
	    t.id="table";
	    console.log(t.innerHTML);

	   st = '<table border=1> <tr>\
					<th>Order ID</th>\
					<th>Cab No.</th>\
					<th>Track</th>\
		</tr>'
		// Have to add eta and price
		r = cab_det['det']
		for(i=0;i<r.length;i++){
			if(r[i]['carrying_order']==true){
		st = st+'<tr><td>'+r[i]['order_id']+'</td><td>'+r[i]['cab_no']+'</td>\
					<td>\
						<div style=\"text-align: center;\">\
							<p class="lead" ><button class="btn btn-primary btn-lg btn-firstpage" onclick="track(this)" role="button" id="produce-button" value="Track" style="margin-top: 10px; background: transparent; border: 2px solid; border-radius: 3px; color: black;">Track</button></p>\
						</div>\
					</td>\
				</tr>'
			}
		}
		st = st+'</table>';
		console.log(st);
		t.innerHTML = st;
		console.log(t)
		document.body.appendChild(t);
	}


	}


	function processRequest1(e){
	    if (xhr1.readyState == 4 && xhr1.status == 200) {
	        order_det = JSON.parse(xhr1.responseText);
	        console.log(order_det);
	    }
	}

	function track(k){
		var order_id = k.parentElement.parentElement.parentElement.parentElement.childNodes[0].textContent;
		console.log(order_id);
	}



	console.log("http://localhost:8000/v1/cab/details");
  </script>
 </html>
